@font-face {
    font-family: 'Orange Kid'; /*a name to be used later*/
    src: url('../fonts/orange-kid.ttf'); /*URL to font*/
}

body {
    font-family: 'Orange Kid', sans-serif;
    font-size: 150%;
}

a {
    text-decoration: none;
}

.container-fluid > * {
    padding-left: 3%;
    padding-right: 3%;
}

#header {
    border-bottom: 2px solid black;
    padding: 15px 3% 10px 3%;
}

.button {
    padding: 3px 10px 5px 10px;
    color: black;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    transition: .3s;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.button:hover {
    background-color: #fa6a0a;
    color: white;
    transition: .3s;
}

.preview {
    text-align: center;
}

.link-underlined {
    color: black;
    text-decoration: underline;
}

.link-underlined:hover {
    color: #249fde;
}

.link-disabled {
    color: grey;
    text-decoration: underline;
    cursor: default;
}

canvas, img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}